*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  line-height: 1.5;
  font-size: 14px;
  overflow-y: scroll;
  background: #1D223E;
  font-family: 'Roboto', sans-serif;
}