.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.box {
  width: 270px;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 5px;
  background: linear-gradient(45deg ,#084af0 0%, #3569F5 100%);
}
.title {
  font-size: 18px;
  color: #769CFF;
}
.number {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin: 5px 0 0;
}